#message {
    padding-left: 50px;
    /* width: 500px; */
    font-weight: bold;
    align-content: center;
}

#score {
    width: 100px;
}

#highscore {
    width: 100px;
}

.navbar {
    background-color: #5adbfb
}

#title {
    font-weight: bold;
    margin-right: 100px;
}

#score {
    font-weight: bold
}

#highscore {
    font-weight: bold
}

#navbarNavAltMarkup2 {
    width: 10%
}