#message {
    padding-left: 50px;
    /* width: 500px; */
    font-weight: bold;
    align-content: center;
}

#score {
    width: 100px;
}

#highscore {
    width: 100px;
}

.navbar {
    background-color: #5adbfb
}
